.App {
}

.View1 {
  float: left;
  left: 0px;
  width: 50%;
  min-height: 90vh;
}

.View2 {
  float: right;
  width: 50%;
  min-height: 38vh;
  text-align: center;
  align-items: center;
}

.View3 {
  float: right;
  right: 0px;
  width: 50%;
  min-height: 62vh;
}

.App-logo {
  float: left;
  width: 100%;
  height: 90%;
}

.prevButton {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 50%;
  transform: translate(0%, -50%);
  width: 5%;
  min-height: 30vh;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  font-size: 0px;
}

.prevButton:hover {
  background-color: rgba(255,255,255,0.5); /* Green */
  color: white;
  font-size: 40px;
}

input[type=number] {
  width: 100%;
  min-height: 15vh;
  box-sizing: border-box;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 40px;
}

.button1 {
  display: inline-block;
  width: 30%;
  min-height: 15vh;
  background-color: #4CAF50;
  border: 5px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  cursor: pointer;
}

.button2 {
  display: inline-block;
  width: 33%;
  min-height: 15vh;
  background-color: Orange;
  border: 1px solid white;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  cursor: pointer;
}
