

.View1 {
  float: left;
  left: 0px;
  width: 50%;
  min-height: 90vh;
}

.View2 {
  float: right;
  width: 50%;
  min-height: 20vh;
  text-align: center;
  align-items: center;
}

.privacyPolicy{
  position: absolute;
  display: inline-block;
  align-items: center;
  justify-content: center;
  width: 50%;
  top: 10vh;
  min-height: 5vh;
  text-align: center;
  font-family: malgun;
  font-weight: lighter;
  font-size: calc(3px + 1.5vmin);
  margin-top: 3vh;
  margin-bottom: 3vh;
  border: 0 none gray;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.privacyPolicyPopup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.privacyPolicyPopup_inner {
  position: absolute;
  left: 15%;
  right: 15%;
  top: 10%;
  bottom: 10%;
  margin: auto;
  background: white;
}

.privacyPolicyPopup_titleBar{
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--MainColor3);
  min-height: 9vh;
}

.privacyPolicyPopup_text{
  display: inline-block;
  margin:0 auto;
  top:0;
  text-align: center;
  font-family: malgun;
  font-weight: bold;
  font-size: calc(1px + 3.5vmin);
  color: white;
}

.privacyPolicyPopup_dumy{
  float: left;
  left: calc(1px + 5vmin);
  width: calc(5px + 12vmin);
  min-height: 90%;
  margin-left: 3vmin;
}

.privacyPolicyPopup_Closebutton{
  float: right;
  width: calc(5px + 12vmin);
  min-height: 90%;
  font-family: malgun;
  font-size: calc(1px + 5vmin);
  color: white;
  text-align: center;
  margin-right: 3vmin;
  border-radius: 10px;
  border: 0 none gray;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}

.privacyPolicyPopup_comments{
  min-height: 90%;
  font-family: malgun;
  font-weight: lighter;
  font-size: calc(1px + 2.5vmin);
  color: black;
  text-align: left;
  border: 0 none gray;
  margin-bottom: 10%;
  white-space: pre-wrap;
}

.popupScrollView {
  float: left;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 90%;
  max-height: 90%;
  margin:auto;
  box-sizing: border-box;
  border: 3vmin solid rgba(0, 0, 0, 0);
	/* border: 1px dotted Orange; */
  background-color: white;
}

.popupScrollView_Content{
  min-height: 100%;
  max-height: 500%;
  margin:auto;
}

.View3 {
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  float: right;
  right: 0px;
  width: 50%;
  min-height: 78vh;
  box-sizing: border-box;
  border-left: 2px solid rgb(255, 145, 40);;
}

.App-logo {
  width: 100%;
  height: 100vh;
}
/*
.prevButton {
  position: absolute;
  display: inline-block;
  left: 0px;
  top: 50%;
  transform: translate(0%, -50%);
  width: 5%;
  min-height: 30vh;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	cursor: pointer;
	outline: inherit;
  font-size: 0px;
}

.prevButton:hover {
  background-color: rgba(255,255,255,0.5);  Green
  color: white;
  font-size: 40px;
}
*/
.mainCountView{
  position: absolute;
  display: flex;
  top:5%;
  width: 50%;
  min-height: 5vh;
  max-height: 5vh;
  align-items: center;
  justify-content: center;
  color: black;
}

.mainTodayCount{
  min-height: 100%;
  text-align: center;
  font-family: malgun;
  font-weight: bold;
  font-size: calc(5px + 2vmin);
  margin-left: 2%;
  margin-right: 2%;
}
.mainNowCount{
  min-height: 100%;
  text-align: center;
  font-family: malgun;
  font-weight: bold;
  font-size: calc(5px + 2vmin);
  margin-left: 2%;
  margin-right: 2%;
}
.mainOutCount{
  min-height: 100%;
  text-align: center;
  font-family: malgun;
  font-weight: bold;
  font-size: calc(5px + 2vmin);
  margin-left: 2%;
  margin-right: 2%;
}

.phonenum {
  width: 100%;
  min-height: 20vh;
  padding-bottom: 5vh;
  align-items: flex-end;
  justify-content: flex-end;
  text-align: center;
  font-family: malgun;
  font-weight: bold;
  font-size: calc(1px + 4vmin);
  box-sizing: border-box;
  border-left: 3px solid rgb(255, 145, 40);
  border-bottom: 1px solid rgb(255, 145, 40);
}

.button1 {
  display: inline-block;
  width: calc(100%/3);
  min-height: 20vh;
  background-color: rgb(70, 200, 195);
  border: 1px solid rgb(255, 145, 40);
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: malgun;
  font-weight: bold;
  font-size: calc(1px + 4vmin);
  cursor: pointer;
}

.button2 {
  display: inline-block;
  width: calc(100%/3);
  min-height: 20vh;
  background-color: rgb(255, 145, 40);
  border: 1px solid rgb(255, 145, 40);
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: malgun;
  font-weight: bold;
  font-size: calc(1px + 4vmin);
  cursor: pointer;
}

.button3 {
  display: inline-block;
  width: calc(100%/3);
  min-height: 20vh;
  background-color: white;
  border: 1px solid rgb(255, 145, 40);
  color: black;
  text-align: center;
  text-decoration: none;
  font-family: malgun;
  font-weight: bold;
  font-size: calc(1px + 6vmin);
  cursor: pointer;
}
