.App {
}


.swipe-wrap {
  flex-direction: row;
  overflow: hidden;
  position: relative;
}


.App-logo {
  float: left;
  width: 100%;
  height: 90%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
