.list {
background-color: rgba(255,255,0,0.3);
}

.listView {
  /* float: left; */
  /* left: 0px; */
  margin: auto;
  width: 80%;
  min-height: 100vh;
  text-align: center;
  background-color: rgba(0,0,255,0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleText{
  position: absolute;
  top: 20px;
  font-size: calc(10px + 2vmin);
}

.listBox{
  margin: auto;
  text-align: center;
  width: 80%;
  max-height: 80vh;
  background-color: rgba(0,0,255,0.7);
}

.BoxButton_used{
  background-color: Orange;
  width: 16%;
  min-height: 10vh;
  max-height: 16vh;
}

.BoxButton_unUsed{
  background-color: white;
  width: 16%;
  min-height: 10vh;
  max-height: 16vh;
}

.BoxButtonText_Title{
  min-height: calc(5px + 2.5vmin);
  max-height: calc(5px + 2.5vmin);
  font-size: calc(5px + 2vmin);
}

.BoxButtonText_etc1{
  min-height: calc(5px + 1.5vmin);
  max-height: calc(5px + 1.5vmin);
  font-size: calc(5px + 1vmin);
}

.BoxButtonText_etc2{
  min-height: calc(5px + 1.5vmin);
  max-height: calc(5px + 1.5vmin);
  font-size: calc(5px + 1vmin);
}
