.list {
  background-color: rgba(255,255,0,0.3);
  width: 100%;
  min-height: 100%;
  max-height: 100%;
}

.listView {
  /* float: left; */
  /* left: 0px; */
  flex-direction: column;
  margin: auto;
  width: 80%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
}

.listInfoView{
  display: flex;
  width: 100%;
  min-height: 5vh;
  max-height: 5vh;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  justify-content: center;
  color: black;

}

.listCountView{
  display: flex;
  width: 80%;
  min-height: 5vh;
  max-height: 5vh;
  align-items: center;
}

.titleTodayCount{
  width: 12%;
  min-height: 100%;
  text-align: center;
  font-family: malgun;
  font-weight: bold;
  font-size: calc(1px + 2vmin);
}
.titleNowCount{
  width: 12%;
  min-height: 100%;
  text-align: center;
  font-family: malgun;
  font-weight: bold;
  font-size: calc(1px + 2vmin);
}
.titleOutCount{
  width: 12%;
  min-height: 100%;
  text-align: center;
  font-family: malgun;
  font-weight: bold;
  font-size: calc(1px + 2vmin);
}

.listSearchBar{
  flex: 1;
  width: 12%;
  min-height: 100%;
  text-align: center;
  background-color: gray;
  font-family: malgun;
  font-size: calc(5px + 2vmin);
}

.listTitleText{
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgb(70, 200, 195);
  color: white;
  font-family: malgun;
  font-weight: bold;
  font-size: calc(10px + 2vmin);
}

.swipe-wrap {
  flex-direction: row;
  overflow: hidden;
  position: relative;
  display: flex;
}

.listBox{
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0,0,255,0.5);
  box-sizing: border-box;
  border: 1px solid rgb(255, 235, 130);
}

.BoxButton_used{
  background-color: rgb(255, 145, 40);
  min-width: calc(100%/7);
  min-height: 10vh;
  max-height: 10vh;
  color: white;
  box-sizing: border-box;
  border: 1px solid rgb(255, 235, 130);
}

.BoxButton_unUsed{
  background-color: white;
  min-width: calc(100%/7);
  min-height: 10vh;
  max-height: 10vh;
  color: black;
  box-sizing: border-box;
  border: 1px solid rgb(255, 235, 130);
}

.BoxButtonText_Title{
  font-family: malgun;
  font-weight: bold;
  font-size: calc(5px + 2vmin);
}

.BoxButton_TitleBox{
}

.BoxButton_TitleBox_text{
  font-family: malgun;
  font-weight: bold;
  font-size: calc(5px + 2vmin);
}

.BoxButtonText_etc1{
  font-family: malgun;
  font-weight: bold;
  font-size: calc(5px + 1vmin);
}

.BoxButtonText_etc2{
  font-family: malgun;
  font-weight: bold;
  font-size: calc(5px + 1vmin);
}


.pageTabBar {
  display: flex;
  margin-top: 2%;
  margin-bottom: 0px;
  width: 100%;
  height: 5%;
  align-items: center;
  justify-content: center;
}

.PageNumber {
  cursor: pointer;
  width: 5%;
  height: 5%;
  padding-left: 1%;
  padding-right: 1%;
}
